{% extends 'base.html' %}

{% block content %}


    <div style="display: flex; gap: 20px; align-items: center;background-color: rgb(58, 56, 56);height:40px">

        <a href="{% url 'home' %}" style="text-decoration: none;">
            🏠 Home
        </a>

        <a href="{% url 'blog' %}" style="text-decoration: none;">
            📝 Blogs
        </a>

        {% if user.is_authenticated %}
            <a href="{% url 'blog-create' %}" style="text-decoration: none;">
                ➕ Create Blog
            </a>
        {% else %}
            <h6 style="color: red;">
                You need to Login to create a blog
            </h6>
        {% endif %}

    </div>

{% if blogs.count == 0 %}
    <h1 style="margin:40px;">No Blogs Available</h1>
{% endif %}

{% for blog in blogs %}
    <div style="border: 1px solid black; padding: 10px; margin: 50px;">
        
        <a href="{% url 'blog-details' blog.slug %}">
            <h3>{{ blog.name }}</h3>
        </a>

        <h5>{{ blog.content }}</h5>

        <!-- Update Icon -->
        <a href="{% url 'blog-update' blog.slug %}" 
           style="text-decoration: none; font-size: 18px;">
            ✏️
        </a>
        <a href="{% url 'blog-delete' blog.slug %}" 
           style="text-decoration: none; font-size: 18px;">
            🗑️
        </a>

    </div>

{% endfor %}
    <div class="blog-create">
        <a href="{% url 'blog-create' %}" 
           style="text-decoration: none; font-size: 18px;">
            ➕ Create New Blog
        </a>
    </div>
{% endblock content %}
